h1{
font-size: 30px;
text-align: center;
color: #D3D3D3
}

h2{
font-size: 30px;
text-align: center;
color: #D3D3D3
}

p{
font-size: 20px;
text-align: center;
font-family: Helvetica, sans-serif;
}

a{
font-size: 15px;
text-align: center;
color: #D3D3D3
}

img{
font-size: 15px;
text-align: center;
color: #D3D3D3
}

body {
    font-family: Arial, sans-serif;
    background-color: #007471;
    margin: 0;
    padding: 20px;
}
